.loginPage{
	display:flex;
	justify-content:center;
	padding-right:25px;
	padding-left:25px;
	min-width: 400px;
}

#newBanner
{
	display:block;
	margin-right:50px;
	max-width:600px;
	flex-grow:1;
}

@media only screen and (max-width: 768px) {
	#newBanner { display: none; }
}

@media only screen and (min-width:769px) and (max-width: 1060px){
	#newBanner { max-width: 400px !important; }
}

.showTextMobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .showTextMobile {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .showTextDesktop {
    visibility: hidden;
    clear: both;
    display: none;
  }
}

.info {
	float: right;
	position: relative;
	margin-top: -28px;
	margin-right: 10px;
	cursor:pointer;
}

.img-eyeWeb {
	height: 16px;
	background-repeat: no-repeat;
	width: 16px;
	float: right;
	margin-right: 10px;
	position: relative;
	margin-top: -27px;
	cursor:pointer;
}

.img-eye-noWeb {
	height: 16px;
	background-repeat: no-repeat;
	width: 16px;
	float: right;
	margin-right: 10px;
	display: none;
	position: relative;
	margin-top: -27px;
	cursor:pointer;
}

.tooltipUsername{
	position: absolute;
	width: 150px;
	height: 57px;
	background: black;
	overflow: hidden;
	z-index: 10000;
	border-radius: 5px;
	color: white;
	padding: 8px;
	text-align: center;
	top: -39%;
	left: 56%;
}

.arrowTooltipUser{
	width: 2px;
	height: 2px;
	border-top: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 13px solid #000000;
	position: absolute;
	top: 16%;
	left: 91%;
}

.tt_container{
	display:none;
}

#tooltipInfo:hover + .tt_container {
	display: block;
}

.font15{
	font-size: 15px;
}

.font16{
	font-size: 16px;
}

.marginB-25{
	margin-bottom: 25px;
}

.marginB-40{
	margin-bottom: 40px;
}

.usernameLabelSt{
	margin-bottom: 10px;
	justify-content: space-between!important;
	display: flex!important;
}

.pwdLabelSt{
	margin-bottom: 10px;
	justify-content: space-between!important;
	display: flex!important;
}

.recoverCredentials{
	cursor:pointer;
	color: #1474BD;
	text-decoration: underline;
}

.inputStyle{
	height: 35px;
	border: 1px solid #ccc;
	border-radius: 3px;
	width: 100%;
	padding-left: 10px;
	box-sizing: border-box;
}

.infoIconSize{
	width: 17px;
	height: 17px;
}

.accessButtonContainer{
	margin-bottom: 20px;
	background-color: #E35205;
	background-image: linear-gradient( 135deg, #E36C05 0%, #E03006 100%);
	border: none;
	box-shadow: none;
	color: #fff;
	padding-bottom: 15px;
	text-align: center;
	padding-top: 15px;
	width: 100%;
	cursor:pointer;
	border-radius: 2px;
}

.accessButtonContainer:hover{
	background: #D62C00;
	color: #fff;
	box-shadow: none;
	text-decoration: none;
}

.accessButton{
	color: #fff;
	font-size: 17px;
	font-weight: 700;
	line-height: 21px;
	text-transform: uppercase;
}

.accessButton:hover{
	color: #fff !important;
	font-size: 17px !important;
}

.registerUserCont{
	justify-content: space-between!important;
	display: flex!important;
	width: 100%;
	height: 55px;
	margin-bottom: 20px;
}

.registerUserBtn{
	background-color: #fff;
	cursor: pointer;
	text-transform: none;
	border: none;
	box-shadow: 0 0 0 2px #1474bd inset;
	color: #1474BD;
	font-weight: 700;
	line-height: 20px;
	padding-top: 16px;
	padding-left: 40px;
	border-radius: 3px;
	padding-right: 40px;
}

.registerUserBtn:hover{
	background-color: #fff;
	box-shadow: 0 0 0 3px #0397d6 inset;
	color: #0397D6;
	text-decoration: none;
}

.hrSeparator{
	background-color:#DDDDDD;
	height:1px;
	width: 100%;
	margin: 0;
}

.usefulLinks{
	font-weight: bold;
	color: #222222;
}

.linkMenu{
	justify-content: space-between!important;
	display: flex!important;
	margin-top: 10px;
	width: 100%;
}

.singleLink{
	color: #1474BD;
	text-decoration: none;
}

.registerUserBtn:hover, .singleLink:hover{
	font-size:16px !important;
	color: #1474BD;
}

a.recoverCredentials:hover{
	font-size:13px !important;
	color: #1474BD;
}

.disservizio {
	width:80%;
	margin:30px auto;
	padding:20px 60px;
	background-color:#fff3cd;
	border-radius:5px;
	border:0px solid #eca936;
	border-width:2px 0 1px 0px;
	border-bottom-color:#dedede;
}

.disservizio a {
	color: #428BCA;
	text-decoration: none;
}
.disservizio a:hover {
	color: #428BCA;
	text-decoration: underline;
}

.disservizioTitle {
	font-size: 1.5em;
	padding-bottom: 5px;
	position: relative;
}
.disservizioTitle:before {
	content: "";
	width: 22px;
	height: 21px;
	display: inline-block;
	left: -30px;
	background: url('/images/icon-alert-orange.png') no-repeat;
	position: absolute;
	top: 0;
}
.flexGrow {
	flex-grow: 1
}
.headerTitleLogin {
	margin-top:0px;
	font-size:2.2em;
}
.transition {
	transition:0.5s;
}
.registerUserCont div {
	margin-top:22px;
}

.usabilla_live_button_container{
	top: 88% !important;
	bottom: 0 !important;
}

.messageKOStyle {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #EED9DB;
    border-top: 3px solid #D0021B;
    margin-bottom: 10px;
    line-height: 27px;
}

.messageKOStyle:before {
    background-image: url(../Images/ko_svg.svg);
    display: inline-block;
    content: "";
    width: 24px;
    height: 24px;
}

.inputTextError{
	background-color: #EED9DB !important;
    border: 2px solid #D0021B;
    border-radius: 3px;
}

.login-form {
	background-color: white;
	padding-left: 10px;
	max-width: 465px;
    width: 100%;
}
